<div>
    <h2>О нас</h2>
    <p>
        Мы - компания занимающаяся утилизацией и разбором автомобилей марки BMW, мы работаем в этой области больше 10 лет.
        В наличии всегда много запчастей, основой нашей деятельности являются E-серия кузовов, но периодически принимаем в работу и более новые модели.
        Вы всегда можете следить за нами в социальных сетях и на этом сайте.В соответствующих разделах есть полная информация о наличии запасных частей, новостях.
        Мы регулярно устраиваем акции, в том чсле и на комплекты дооснащения, поэтому не упустите свой шанс приобрести небходимую деталь по сниженной ценне.
    </p>
</div>
