@using partsearch.Service

<div id="header-wrapper">
	<div class="container">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<h1><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="" id="logo">@Config.CompanyName</a></h1>

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Главная</a></li>
						<li>
							<a asp-area="" asp-controller="Parts" asp-action="Index" asp-route-id="">Запчасти</a>
							<ul>
								<li><a href="#">Новое</a></li>
								<li><a href="#">Акции</a></li>
								<li><a href="#">Поиск</a></li>
							</ul>
						</li>
						<li><a href="left-sidebar.html">Новости</a></li>
						<li><a href="right-sidebar.html">Поиск</a></li>
						<li><a asp-area="Admin" asp-controller="Home" asp-action="Index" asp-route-id="">Войти</a></li>
					</ul>
				</nav>

			</div>
		</header>

	</div>
</div>