@using partsearch.Service

<div id="header-wrapper">
	<div class="container">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<h1><a href="index.html" id="logo">@Config.CompanyName</a></h1>

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html">Главная</a></li>
						<li>
							<a href="#">Запчасти</a>
							<ul>
								<li><a href="#">Новое</a></li>
								<li><a href="#">Акции</a></li>
								<li><a href="#">Поиск</a></li>
							</ul>
						</li>
						<li class="current_page_item"><a href="left-sidebar.html">Новости</a></li>
						<li><a href="right-sidebar.html">Поиск</a></li>
					</ul>
				</nav>

			</div>
		</header>

	</div>
</div>