<div class="inner">
	<div class="container">
		<div class="row">
			<div class="col-8 col-12-medium">

				<!-- Article list -->
				<section class="box article-list">
					<h2 class="icon fa-file-alt">Последние события</h2>

					<!-- Excerpt -->
					<article class="box excerpt">
						<a href="#" class="image left"><img src="images/pic04.jpg" alt="" /></a>
						<div>
							<header>
								<span class="date">15 мая</span>
								<h3><a href="#">Новое поступление BMW E32</a></h3>
							</header>
							<p>
								В разбор поступила BMW E32 730i, салон с деревом,<br />
								коробка автомат, мотор M30B30.
							</p>
						</div>
					</article>

					<!-- Excerpt -->
					<article class="box excerpt">
						<a href="#" class="image left"><img src="images/pic05.jpg?1" alt="" /></a>
						<div>
							<header>
								<span class="date">18 марта</span>
								<h3><a href="#">Открылось новое отделение</a></h3>
							</header>
							<p>
								С радостью хотим сообщить, что новое отделения нашей компании открылось в Москве,
								теперь приобрести запчасти будет еще проще, ищите наш адрес в разделе "Контакты".
							</p>
						</div>
					</article>

				</section>
			</div>
			<div class="col-4 col-12-medium">

				<!-- Spotlight -->
				<section class="box spotlight">
					<h2 class="icon fa-file-alt">Факт</h2>
					<article>
						<a href="#" class="image"><img src="images/pic07.jpg?1" alt=""></a>
						<header>
							<h3><a href="#">Alpina B-10</a></h3>
							<p>Быстрее только ветер</p>
						</header>
						<p>
							Alpina B10 Bi-Turbo является высокопроизводительной версией BMW 5-й серии в кузове E34,
							производства немецкого автопроизводителя Alpina. На разработку было потрачено 3,2 миллиона долларов США,
							после чего B10 Bi-Turbo был представлен на Женевском автосалоне в марте 1989 года. Выпуск начался в том же году,
							B10 Bi-Turbo проектировался на базе модели 535i. Производство закончилось в 1994 году,
							после 507 выпущенных экземпляров.
						</p>
						<p>
							Alpina утверждала, что время разгона 0-100 км / ч (62 миль / ч) составляет 5,6 секунды,
							а максимальная скорость превышает 290 км / ч (180,2 миль / ч),
							что с точки зрения производительности было сравнимо с Ferrari Testarossa.
						</p>
						<footer>
							<a href="#" class="button alt icon solid fa-file-alt">Продолжить чтение...</a>
						</footer>
					</article>
				</section>

			</div>
		</div>
	</div>
</div>