<div id="sidebar">

	<!-- Sidebar -->

	<section>
		<header class="major">
			<h2>Тут будет сайд-бар</h2>
		</header>
		<p>
			Какой то текст.
		</p>
		<footer>
			<a href="#" class="button icon solid fa-info-circle">...</a>
		</footer>
	</section>

	<section>
		<header class="major">
			<h2>Заметки</h2>
		</header>
		<ul class="style2">
			<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
			<li><a href="#">Ornare in hendrerit in lectus</a></li>
			<li><a href="#">Semper mod quis eget mi dolore</a></li>
			<li><a href="#">Quam turpis feugiat sit dolor</a></li>
			<li><a href="#">Amet ornare in hendrerit in lectus</a></li>
			<li><a href="#">Semper mod quisturpis nisi</a></li>
			<li><a href="#">Consequat etiam lorem phasellus</a></li>
			<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
			<li><a href="#">Semper mod quisturpis nisi</a></li>
		</ul>
		<footer>
			<a href="#" class="button icon solid fa-arrow-circle-right">Подробнее</a>
		</footer>
	</section>

</div>